####################################################################
# GITIGNORE unificado
# Pode ser sincronizado em qualquer computador. Futuramente adicionar novos filtros de arquivos.
# !IMPORTANTE! Editar o caminho das pastas de tema e plugin para o job atual
# 
####################################################################

# ignorar WordPress
/*
!/wp-content
/wp-content/*
!/wp-content/plugins
/wp-content/plugins/*
!/wp-content/plugins/boros-demo-plugin
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/boros-demo-theme
*.log
sitemap.xml
sitemap.xml.gz
wp-config.php*.log
wp-config.php
.htaccess
sitemap.xml
sitemap.xml.gz

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
